* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif; /* Font family for all elements */
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #4d4855;
    background-image: linear-gradient(147deg, #4d4855 0%, #000000 74%);
    padding: 10px;
}

.todo-app {
    width: 100%;
    max-width: 540px; /* Maximum width of the to-do app container */
    background: #fff; /* White background */
    margin: 100px auto 20px; /* Center the app with margin */
    padding: 40px 50px 70px; /* Padding inside the container */
    border-radius: 10px; /* Rounded corners */
}

.todo-app h1 {
    color: #0d1b2a;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0px 60px;
}

.todo-app h1:hover{
    background-image: linear-gradient(45deg,#ff7200,#5c00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.todo-app h1 img {
    width: 30px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between input and button */
    border-radius: 30px;
    padding-left: 20px;
    background: #edeef0;
    margin-bottom: 25px;
}

input {
    flex: 1; /* Takes up remaining space */
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

button {
    border: none;
    outline: none;
    padding: 10px 50px;
    background: #000814;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

h3:hover{
    background-image: linear-gradient(45deg,#ff7200,#5c00ff);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(IMAGES/1625516-200.png); /* Background image for unchecked tasks */
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through; /* Line-through for checked tasks */
}

ul li.checked::before {
    background-image: url(IMAGES/tick1.png); /* Background image for checked tasks */
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0; /* Background color change on hover */
}
